.resultados {
  /* margin: var(--altura-navbar);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; */

  max-width: 1000px;
  display: grid;

  margin: var(--altura-navbar) auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 15px;
  max-width: 1000px;
  padding:20px
}

/* mensajes se quedan igual */
.mensaje-cargando,
.mensaje-no-resultados {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--texto-secundario);
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* ANIMACIÓN EN LOS PUNTOS DE CARGANDO */
.mensaje-cargando::after {
  content: '...';
  animation: puntos 1s infinite;
}

@keyframes puntos {

  0%,
  20% {
    content: '';
  }

  40% {
    content: '.';
  }

  60% {
    content: '..';
  }

  80%,
  100% {
    content: '...';
  }
}

/* Tablet: 2 columnas por fila */
@media (max-width: 768px) {
  .resultados {
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* Móvil: 1 columna por fila */
@media (max-width: 480px) {
  .resultados {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}