/* =============================
   PRINCIPAL 
============================= */
.principal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal__imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.principal__contenedor-titulo {
  margin-top: -10%;
  text-align: center;
  z-index: 2;
}

.principal__titulo {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(90deg,
      var(--acento-secundario),
      var(--acento-primario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ============================= */
/* TABLET + MÓVIL (<=768px) */
/* ============================= */
@media (max-width: 768px) {
  .principal__titulo {
    font-size: 4rem;
  }
}

/* ============================= */
/* MÓVIL PEQUEÑO (<=480px) */
/* ============================= */
@media (max-width: 480px) {
  .principal__titulo {
    font-size: 3rem;
  }
}