.tarjeta-libro {
  background-color: var(--fondo-secundario);
  color: var(--texto-principal);
  border-radius: var(--radio-borde);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  display: flex;
  flex: 1 1 200px; 
  flex-direction: column;
  transition: transform 0.2s ease;
}

.tarjeta-libro:hover {
  transform: translateY(-5px);
}

.tarjeta-libro__imagen {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tarjeta-libro__placeholder {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fondo-principal);
  color: var(--texto-secundario);
  font-size: 0.9rem;
}

.tarjeta-libro__contenido {
  padding: 0.8rem;
}

.tarjeta-libro__titulo {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
}

.tarjeta-libro__autores {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--texto-secundario);
  margin-top: 0.4rem;
}

/* 
@media (max-width: 768px) {
  .tarjeta-libro {
    flex: 1 1 calc(33.33% - 15px);
    min-width: 0px;
  }
}

@media (max-width: 480px) {
  .tarjeta-libro {
     flex: 1 1 calc(50% - 15px);
  }
} */