.tarjeta-libro {
  background-color: var(--fondo-principal);
  border-radius: var(--radio-borde);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.tarjeta-libro:hover {
  transform: translateY(-5px);
}

.tarjeta-libro__imagen {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: var(--radio-borde);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta-libro__placeholder {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fondo-principal);
  color: var(--texto-secundario);
  font-size: 0.9rem;
}

.tarjeta-libro__contenido {
  padding: 0.8rem;
  height: 120px;
}

.tarjeta-libro__titulo {
  font-size: 1.2rem;
  text-align: center;
  margin: 5px 0;
  color: var(--acento-primario);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tarjeta-libro__autores {
  font-size: 0.95rem;
  color: var(--texto-secundario);
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}