.tarjeta-libro {
  background-color: var(--fondo-secundario);
  color: var(--texto-principal);
  border-radius: var(--radio-borde);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.tarjeta-libro:hover {
  transform: translateY(-5px);
}

.tarjeta-libro__imagen {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #0B1026;
}

.tarjeta-libro__placeholder {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fondo-principal);
  color: var(--texto-secundario);
  font-size: 0.9rem;
}

.tarjeta-libro__contenido {
  padding: 0.8rem;
  height: 120px;
}

.tarjeta-libro__titulo {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tarjeta-libro__autores {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--texto-secundario);
  margin-top: 0.4rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
