body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--fondo-principal);
  color: var(--texto-principal);

   /* max-width: 1280px; 
   text-align: center; */
}


