/* PaginaNoEncontrada.css */

.pagina-no-encontrada {
  /* min-height: calc(100vh - var(--altura-navbar)); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-principal);
  color: var(--texto-principal);
  padding: 2rem;
  text-align: center;
}

.pagina-no-encontrada h1 {
  font-size: 6rem;
  background: linear-gradient(to right, var(--titulo-gradiente-inicio), var(--titulo-gradiente-fin));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.pagina-no-encontrada p {
  font-size: 1.5rem;
  color: var(--texto-secundario);
  margin-bottom: 2rem;
}

/* Libro volando desde arriba */
.libro-volando {
  width: 150px;
  max-width: 50%;
  margin-bottom: 2rem;

  /* Animación */
  animation: caer 1.2s ease-out forwards;
}

/* Keyframes de la animación Libro */
@keyframes caer {
  0% {
    transform: translateY(-200px) rotate(-20deg);
    opacity: 0;
  }
  60% {
    transform: translateY(20px) rotate(10deg);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.btn-volver {
  padding: 0.75rem 1.5rem;
  border-radius: var(--radio-borde);
  border: 1px solid var(--acento-primario);
  background-color: var(--fondo-principal);
  color: var(--acento-primario);
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-volver:hover {
  background-color: var(--acento-primario);
  color: var(--fondo-principal);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .pagina-no-encontrada h1 {
    font-size: 4rem;
  }

  .pagina-no-encontrada p {
    font-size: 1.2rem;
  }

  .libro-volando {
    width: 120px;
    max-width: 40%;
  }

  .btn-volver {
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .pagina-no-encontrada h1 {
    font-size: 3rem;
  }

  .pagina-no-encontrada p {
    font-size: 1rem;
  }

  .libro-volando {
    width: 90px;
    max-width: 60%;
  }

 .btn-volver {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
